= search_bar 'What would you like to buy?'

- @merchandises.each do |item|
  =row :card do
    %h3== #{item.title}
    %p== #{item.description}
    =row :buttons do
      =link_to '#', class: "btn" do
        Contact Seller
      =link_to '#', class: "btn" do
        Buy
