= search_bar 'What would you like to buy?'

- @merchandises.each do |item|
  =row :card do
    %h3== #{item.title}
    %p== #{item.description}
    =row :images do
      =link_to item.pic1.url(:full) do
        =image_tag item.pic1.url(:thumb)
      =link_to item.pic2.url(:full) do
        =image_tag item.pic2.url(:thumb)
      =link_to item.pic3.url(:full) do
        =image_tag item.pic3.url(:thumb)
    =row :buttons do
      =link_to '#', class: "btn" do
        Contact Seller
      =link_to '#', class: "btn" do
        Buy

