=render partial: "layouts/partials/merch_search_bar"

- @merchandises.each do |item|
  =row :card do
    %h3== #{item.title}
    %p== #{item.description}
    =row :images do
      =link_to item.pic1.url(:full) do
        =image_tag item.pic1.url(:thumb)
      =link_to item.pic2.url(:full) do
        =image_tag item.pic2.url(:thumb)
      =link_to item.pic3.url(:full) do
        =image_tag item.pic3.url(:thumb)
    =row :buttons do
      =link_to new_merchandise_inquiry_path(item), class: "btn" do
        Contact Seller
      =link_to new_merchandise_purchase_path(item), class: "btn" do
        Buy

.paginate.text-center
  = will_paginate @merchandises, renderer: FoundationPagination::Rails
