=row :card do
  %h3= @merchandise.title
  %p= @merchandise.description
  =row :images do
    %img{src: @merchandise.pic1.url(:medium)}
    %img{src: @merchandise.pic2.url(:medium)}
    %img{src: @merchandise.pic3.url(:medium)}
  =row :buttons do
    =link_to '#', class: "btn" do
      Contact Seller
    =link_to '#', class: "btn" do
      Buy
    =link_to 'Delete Merchandise', @merchandise, :method => :delete, :data => { :confirm => 'Are you sure?' }
