=row :page_message do
  %h2 Current Needs

=row :instructions do
  %h4 Donate to one of the needs below

- @needs.each do |need|
  =row :card do
    %h3= Organization.find(need.organization_id).name
    %p= need.title
    %p= need.description
    =link_to "#", class:"btn" do
      Donate
