= row :page_message do
  .columns.small-12
    %p Needs

= row :card do
  .columns.small-12
    %h4 Organization 1
    %p Need description
    .row
      .columns.small-12
        = button_tag :donate, class: "btn" do
          Donate
