= row :page_message do
  .columns.small-12
    %p Search Needs

= row :instructions do
  .columns.small-12
    %p.instructions-step Step 1. Find a need in our community that you may be able to fill.

    = search_bar 'What would you like to donate?'
        
    .row
      .columns.small-12
        = button_tag :query, class: "btn" do
          Search Needs
