%h3 This is your confirmation email.
%p Your item on Connect 2 Good has been sold. Details below:
%h5 Title:
%p= Merchandise.find(@purchase.merchandise_id).title
%h5 Description:
%p= Merchandise.find(@purchase.merchandise_id).description
=image_tag Merchandise.find(@purchase.merchandise_id).pic1
=image_tag Merchandise.find(@purchase.merchandise_id).pic2
=image_tag Merchandise.find(@purchase.merchandise_id).pic3
