.view-page#pageWrapper
  .row
    .large-12.columns
      %h3 Tell Us What You're Thinking
      %br
      %br
      %br
      %br
      .center
        %h5.title Thank You! Your message has been received.