.row
  .columns.large-12
    %h3 Sale Items
    %table
      %thead
        %tr
          %th title
          %th description
          %th beneficiary
      %tbody
        - @sale_items.each do |sale_item|
          %tr
            %td= sale_item.title
            %td= sale_item.description
            %td= sale_item.beneficiary.name
