.view-page
  .large-1.small-1.columns
    %p
      \
  .large-10.small-10.columns
    .row.center
      %h6 You aren't authorized to access to this page. Please find something else you can help with. 
      %h4= link_to 'Organizations', organizations_path
      %h4= link_to 'See all needs', needs_path
  .large-1.small-1.columns
    %p
      \
