body {
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

button {
  color: #000;
  border-color: #ccc;
  border-radius: 0.5em;
}

a {
  color: #000;
  &:link {
     text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

img { max-width: 100%; }

input[type='text'] {
  border-radius: 0.5em;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0 0;
  &:nth-child(1) { margin-top: 0; }
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
