.view-page#pageWrapper
  .row
    .large-12.columns
      %h3 About: 
      %p Connect 2 Good is a community development project being built by Austinite volunteers for the community! We do community development by getting your in-kind donations to the nonprofits and people who need them most. 
  .row
    .large-12.columns
      %h3 Why: 
      %p Simply put, we believe that a more loving, supportive world, is possible and it starts with us. We know about big nonprofits like Goodwill, Austin Pets Alive!, and Capital Area Food Bank, but we have thousands more nonprofits/community projects in the Austin area and they all desperately need in-kind donations ranging from clothes and furniture to school supplies and food to continue the valuable work they do. 
  .row
    .large-12.columns
      %h3 How: 
      %p Connect 2 Good is a one-stop-shop for in-kind donations website. 
  .row
    .large-12.columns
      %h3 The way it works is...
      %p
        %strong Step 1: 
        Take whatever it is you have to donate and type it into the Connect 2 Good search engine. 
      %p
        %strong Step 2: 
        The website will generate a list of all the nonprofits/vetted community projects that could really use your donated item(s).
      %p
        %strong Step 3: 
        Discover one or many nonprofits/projects that resonates with your heart and could use your donation! Donate and feel good – you made a difference!
