.view-page#pageWrapper
  .row
    .large-12.columns
      %h3 FAQ
  .row
    .large-12.columns
      %h4 Donors:
      %strong How quickly should I expect to receive a responsive from an organization once I have made a donation offer?
      %p Organization representatives will contact you directly, via email, as soon as possible. To ensure that donation offers are accepted within a reasonable amout of time, we recommend that you make the same offer to multiple organizations who have similar needs.
      
      %strong Why should I join/register as a Connect 2 Good user?
      %p If you are a logged-in user, making donation offers will be quick and simple because we will auto-complete the name and contact email portion of your form. You will also have access to a useful dashboard, where you can view all offers that you have previously made.

      %strong What if I cannot find an organization who needs the item that I am looking to donate?
      %p If your search is not returning any results...
      %p First: Try simplifying your search. For example: instead of "macbook pro", try searching "computer" or "laptop".
      %p Second: If you are still unable to find an organization who has a need item similar to the item that you wish to donate, please try again in a few days or weeks. Our volunteers are continually adding and updating organization needs lists.    
  .row
    .large-12.columns
      %h4 Organizations:
      %strong How did my organization end up on this website?
      %p With the help of local Austin volunteers, we collect general information and donation wish lists from non-profit organization websites. Please #{ link_to "contact", contact_path } us if you would prefer that we remove your organization from our website.
      
      %strong How do I update my organization's information and needs list?
      %p To update an organization's information or needs list, you must first be set up as an organization representative. It is really quite simple, so please #{ link_to "contact", contact_path } us for more information.

      %strong What does it mean to be an organization's representative?
      %p An organization's representative will have the ability to update the information displayed on their organization's page, as well as add, inactivate, or edit needed items. Representatives will also have access to a useful dashboard that allows them to track the status of donation offers made by Connect 2 Good donors.
  .center
    %h5 Have additional questions or concerns? Please do not hesitate to #{ link_to "contact", contact_path } us.

