/ !!!
/ %html{lang: "en"}
/   %head
/     %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
/     %title= content_for?(:title) ? yield(:title) : "Connect2Good"
/     = favicon_link_tag '/favicon.ico'
/     = stylesheet_link_tag    "application"
/     = csrf_meta_tags
/   %body
/     .page
/       .off-canvas-wrap
/         .inner-wrap
/           %nav.top-bar{"data-topbar" => ""}
/             %section.left-small
/               %a.left-off-canvas-toggle.menu-icon
/                 %span
/             %section.top-bar-section
/               / Right Nav Section
/               .right
/                 - if current_user
/                   %ul.user
/                     %li= link_to "Account", user_path(current_user) 
/                     %li= link_to "Sign out", destroy_user_session_path, :method => :delete
/                 - else
/                   %ul.user
/                     %li= link_to "Sign in", new_user_session_path
/                     %li= link_to "Join", new_user_registration_path
/           %aside.left-off-canvas-menu
/             %ul.off-canvas-list
/               %li
/                 .oc-head Connect 2 Good
/               %li
/                 %label.cat Organizations
/               %li
/                 %a{href: "#{organizations_path}"} View All
/               - if current_user  
/                 - orgs.each do |org|
/                   - if current_user.id == org.owner_id
/                     %li= link_to " View #{org.name}'s dash", organization_path(org.id) 
/               %li
/                 %label.cat Needs
/               %li
/                 %a{href: "#{needs_path}"} View All
/               %li
/                 %label.cat User Account
/                 - if current_user
/                   %li= link_to "Account", user_path(current_user)
/                   %li= link_to "Sign out", destroy_user_session_path, :method => :delete
/                 - else
/                   %li= link_to "Sign in", new_user_session_path
/                   %li= link_to "Join", new_user_registration_path
/               %li
/                 %label.cat Connect 2 Info
/               %li= link_to "About", about_path
/               %li= link_to "FAQ", faq_path
/               %li= link_to "Contact", contact_path
/               - if current_user.try(:admin?)
/                 %li
/                   %label.cat Administration
/                 %li  
/                   %a{:href => "#{admin_path}"} Admin Profile
/           %section.full-width-row
/             .center
/               / %h3 Connect 2 Good
/               = image_tag 'c2g-homepage.png' 
/             .small-10.medium-6.large-4.small-centered.columns
/               = form_tag needs_path, method: :get do
/                 .center
/                   = text_field_tag :query, params[:query], placeholder: "What would you like to donate?", class: "search", autofocus: true
/                 .center    
/                   = submit_tag "Search Needs", class: "button"
/               = javascript_include_tag "application"
/             .home-footer
/               = link_to "About", about_path
/               - if !signed_in?
/                 = link_to "Join", new_user_registration_path
/               = link_to "Contact", contact_path
/               = link_to "FAQ", faq_path
/               %div &nbsp;
/               / %a{href: "#"}
/               /   privacy policy
/           %a.exit-off-canvas
