= row :page_message do
  .columns.small-12
    %h3 Join our community!

= row :user_type do
  .columns.small-6.text-center
    %h3 Are you an organization?
    =link_to new_organization_registration_path, class: "btn" do
      Organization Sign Up
  .columns.small-6.text-center
    %h3 Are you an individual?
    =link_to new_individual_registration_path, class: "btn" do
      Individual Sign Up
