.view-page.lets-connect-to-good#pageWrapper
  .row
    .large-12.columns.center
      = image_tag "lets_connect_to_good.jpg", size: "434x300", alt: "Let's connect to good"
  .row
    .large-12.columns.center
      %h3 Let's Connect to Good!

  .row
    .large-12.columns
      %h4 Donations Provided
      %p
        %span.bold Printer/Fax/Scanner
        \- From Mike, a man who upgraded his printer and no longer needed his older yet still working printer.
      %p
        %span.bold Computer
        \- From April, a girl who got a new computer.
      %p
        %span.bold Filing cabinet
        \- From Albert, a subcontractor who was clearing out an office and didn't want the perfect item to go to the landfill.
  .row
    .large-12.columns
      %p This is Georgia and Elijah, the founders of H.E.A.L. Help, Empower, Advocacy, Love. I was introduced to them by a social worker at CASA. The homeless advocacy community was impressed with the work these two were doing, and told me they needed support.
 
      %p When these big-hearted people contacted me they were doing everything they could to help others. Formerly homeless themselves, they had very little, but gave everything they could. H.E.A.L. provides a wide range of services to assist the homeless community. They do everything from housing assistance and advocacy to legal help and job placement.
 
      %p I met them at their home, and learned about the their needs firsthand. They needed a working computer with internet access, their filing system was a pile of note cards with contact’s names scrawled on both sides, and they hand delivered forms for their clients to agencies around town. They were already doing challenging work, and they were doing it with next to nothing. Needless to say, I was deeply inspired and wanted to help them.
 
      %p Connect 2 Good provided H.E.A.L. with the computer, filing cabinet, and printer/fax/scanner they needed to set up their office. All of these items were donations through Connect 2 Good. This equipment has effectively empowered the organization to make a bigger impact in the homeless community. By getting H.E.A.L. the resources they need, they’re able to be more productive, send emails, organize paperwork, fax documents, do job searches, etc. Ultimately, Georgia and Elijah have been empowered to more effectively assist the homeless community.

      %p Reach out to me if you have any questions at josh (at) connect2good (dot) com.

      %p.tight
        %span.bold Josh
      %p.tight Founder at Connect 2 Good
      %p.tight josh@connect2good.com 
