%h3 Buy
%p Good Description

%form{role: "form"}
  %div
    %input#cc-name{autocomplete: "off", placeholder: "Name on Card", type: "text"}/
  %div
    %input#cc-number{autocomplete: "off", maxlength: "16", placeholder: "Card Number", type: "text"}/
  %div
    %label Expiration
    = months
    = years
  %div
    %input#ex-csc{autocomplete: "off", maxlength: "4", placeholder: "CVC", type: "text"}/
    =image_tag "cvc.jpg"
  %button{type: "submit"} Buy

