.card {
  border: solid 1px #BEDCF3;
  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
  background-color: #BEDCF3;
}

.card:hover {
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}
