.card {
  border: solid 1px #B2CBD9;
  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
  background-color: #B2CBD9;
}

.card h3 {
  font-size: -webkit-xxx-large;
}

.card p {
  font-size: larger;
  padding-bottom: 1em;
}

.card img {
  padding-bottom: 1em;
}

.card:hover {
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}

