.view-page
  .row#pageWrapper
    .large-1.small-1.columns
      %p
        \
    .large-10.small-10.columns
      = render "form"
      %h5= link_to "Back", :back
      %br
    .large-1.small-1.columns
      %p
        \