.view-page#pageWrapper
  .large-1.small-1.columns
    %p
      \
  .large-10.small-10.columns
    %div
      .row
        %h3 Thank you!
        %br
        %p 
          #{@offer.organization.name} has received an email with your donation offer details, and will be contacting you via email as soon as possible.
        %p Share your generosity with your friends and family and help spread the word about Connect 2 Good. With a simple click, you can post on Twitter!  
        %a.twitter-share-button{"data-lang" => "en", "data-count" => "none",:href => "https://twitter.com/share", "data-text" => "I just made a donation offer via www.connect2good.com. Come join me and see how you can help!"} Tweet 
        :javascript
          !function(d,s,id){
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src="https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
            }
          }(document,"script","twitter-wjs");
        %br
        %br
        %p 
          Thanks again on behalf of the entire Connect 2 Good team!
        %br
        %br
        %br
        = link_to "FAQ", faq_path
        \|
        = link_to "About", about_path

  .large-1.small-1.columns
    %p
      \

