%h3 Goods
.section-auto-sample-tabs{"data-section" => "tabs"}
  %section.active
    .content{"data-section-content" => "", "data-slug" => "section1"}
      %p Good Description 1
    %p.title{"data-section-title" => ""}
      %button{type: "submit"} Buy
    
  %section
    .content{"data-section-content" => "", "data-slug" => "section2"}
      %p Good Description 2
    %p.title{"data-section-title" => ""}
      %button{type: "submit"} Buy
    