= row :page_message do
  .columns.small-12
    %p Goods

= row :card do
  .columns.small-12
    %p Good description
    .row
      .columns.small-12
        = button_tag :buy, class: "btn" do
          Buy
