%h3 Search Goods

%form{role: "form"}
  %div
    %input#search-goods{autocomplete: "off", placeholder: "What would you like to buy?", type: "text"}/

%button{type: "submit"} Search Goods
%br
%button{type: "submit"} Browse Goods