.row
  .large-3.small-6.columns
  %h3 Sell
.row
  .large-6.small-8.columns
  %h4 Describe your Good
  %br
  %input{placeholder: "What would you like to donate?"}
.row
  .large-6.small-8.columns
  %h4 Include 3 Pictures
.row
  .large-3.small-4.columns
  %button Picture 1
.row
  .large-3.small-4.columns
  %button Add a Picture
.row
  .large-3.small-4.columns
  %button Sell


