.view-page
  %div
    .center.orgfix
      %h3 Current Organizations
      .row
        .center
          - @organizations.each do |organization|
            .large-3.medium-4.small-12.columns.left
              .card
                = link_to organization_path(organization.id) do
                  .org-main-panel
                    %span.orgname
                      - if organization.name.length < 27
                        %h4.middle= organization.name
                      -else
                        %h5.middle= organization.name.truncate(60)
                  .org-def-panel
                    .center
                      %h5= organization.description.truncate(45)