%nav.top-bar{ "data-topbar"=>"" }
  %ul.title-area
    %li.name
      %h1
        =link_to 'C2G', '#'
    %li.toggle-topbar.menu-icon
      =link_to 'Menu', '#'

  %section.top-bar-section
    -# Right Nav Section
    %ul.right
      %li
        =link_to 'Right Button Active', '#'
      %li
        =link_to 'Other Button Active', '#'
      %li
        =link_to '3rd Button Active', '#'
