- placeholder_text = text_placeholder
- opts = _opts

= row :search_bar,
  class: opts[:class],
  id:    opts[:id] do
  = form_tag needs_path, method: :get do
    .row.collapse
      .columns.small-10
        = txt_field placeholder_text,
          class: 'text-field-search'
      .columns.small-2
        = button_tag :query, class: "btn btn-search postfix" do
          %icon{ class: 'fa fa-search' }
